:root {
  --primary-color: #FFCCA0;
  --primary-light: #FFE6D0;
  --primary-dark: #FF8011;
  --secondary-color: #7D6EFF;
  --secondary-dark: #26199C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(40deg, var(--primary-color), 80%, white);
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #25252531;
  word-break: none;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  word-break: none;
}

p {
  max-width: 40ch;
  line-height: 1.6;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(24, 24, 24, 0.4);
}

/* @media (max-width:1050px) {
  p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media (max-width:920px) {

  * {
    font-size: 97%;
    padding: .2em;
  }

  .content-container {
    grid-template-columns: 1fr;
  }

  .left {
    display: flex;
  }

  .calculator {
    max-width: fit-content;
  }

  .buttons-grid {
    width: fit-content;
  }

  .display {
    width: 17em;
  }

  .verticalFunctions {
    margin-left: -0.05em;
  }

  .showHistory p {
    line-height: 1;
    background-color: var(--primary-light);
    padding: .5em;
    font-size: 1.1em;
    margin-left: -6em;
  } 
}
*/